	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">

					<div class="text-center my-5">
						<img src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/52508.png" alt="logo" width="100">
					</div>

					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Login</h1>

              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs col-12 mb-3">
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email" } %>
                  <%= f.input :password,
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
                <div class="form-actions mb-4">
                    <%= f.button :submit, "Log in", class: "btn btn-primary btn-lg w-100" %>
                </div>
              <% end %>
						</div>
					</div>

          <div class="card-footer py-3 border-0">
            <div class="text-center mt-2">
              <%= render "devise/shared/links" %>
            </div>
          </div>

				</div>
			</div>
		</div>
	</section>
