<div data-controller="birds-show" data-birds-show-price-per-day="<%= @bird.price_per_day %>" class="bird-show-container" style="font-size: 1.2em;">
  <h1 class="bird-title"><strong><%= @bird.name %></strong></h1>

  <div class="bird-info">
    <div class="bird-photo-container">
      <%= image_tag @bird.photo, class: "bird-photo" %>
    </div>

    <div class="bird-details">
      <p class="bird-propose" style="font-size: 1.5em;">
        Proposed by: <strong><%= @bird.birdlord.username %></strong>
        <%= image_tag @bird.birdlord.avatar_url, class: "birdlord-avatar", style: "width: 60px; height: 60px;" %>
      </p>

      <button data-controller="heart" data-action="click->heart#toggle">
        <i data-heart-target="icon" class="empty-heart"></i>
      </button>

      <div class="bird-price" style="font-size: 1.5em;">
        <%= @bird.price_per_day %> €/day
      </div>

      <div class="bird-species" style="font-size: 1.5em; color: darkblue;">
        <i class="fas fa-feather"></i> <%= @bird.species %>
      </div>

      <div class="bird-description" style="font-size: 1.5em; margin-top: 10px;">
        <%= @bird.details %>
      </div>

      <div style="margin-top: 20px;">
        <div class="bird-description">
          <i class="fa-solid fa-plate-wheat"></i> <%= @bird.diet %>
        </div>

        <div class="bird-description">
          <i class="fas fa-weight"></i> <%= @bird.height_and_weight %>
        </div>

        <div class="bird-description"  style="font-size: 1em;>
          Favorite snack: <%= @bird.favorite_snack %>
        </div>
      </div>

      <div class="booking-section">
        <div class="booking-dates">
          From: <input type="date" data-birds-show-target="startDate">
          To: <input type="date" data-birds-show-target="endDate">
        </div>

        <div data-birds-show-target="errorMessage" style="display: none;">Please provide valid dates.</div>

        <div class="booking-price">
          Total price: <span data-birds-show-target="totalPrice"></span> €
        </div>

        <button class="btn btn-primary" data-action="birds-show#calculateTotal">
          Rent <%= @bird.name %>
        </button>
      </div>
    </div>
  </div>
</div>
