<div data-controller="birds-show" data-birds-show-price-per-day="<%= @bird.price_per_day %>" class="bird-show-container">
  <h1 class="bird-title"><strong><%= @bird.name %></strong></h1>

  <div class="bird-info">
    <div class="bird-photo-container">
      <%= image_tag @bird.photo, class: "bird-photo" %>
    </div>

    <div class="bird-details">
      <p class="bird-propose">
        Proposed by: <strong><%= @bird.birdlord.username %></strong>
        <%= image_tag @bird.birdlord.avatar_url, class: "birdlord-avatar" %>
      </p>

      <button data-controller="heart" data-action="click->heart#toggle">
        <i data-heart-target="icon" class="empty-heart"></i>
      </button>

      <div class="bird-price">
        <%= @bird.price_per_day %> €/day
      </div>

      <div class="bird-species">
       Species: <%= @bird.species %>
      </div>

      <div class="bird-description">
       Diet: to complete...
      </div>

      <div class="bird-description">
       Height and weight: to complete...
      </div>

      <div class="bird-description">
       Description: <%= @bird.details %>
      </div>

      <div class="booking-section">
        <div class="booking-dates">
          From: <input type="date" data-birds-show-target="startDate">
          To: <input type="date" data-birds-show-target="endDate">
        </div>

        <div data-birds-show-target="errorMessage" style="display: none;">Please provide valid dates.</div>

        <div class="booking-price">
          Total price: <span data-birds-show-target="totalPrice"></span> €
        </div>
        <%= link_to bird_bookings_path do %>
          <button class="btn btn-primary">
            Book this bird
          </button>
        <% end %>

      </div>
    </div>
  </div>
</div>
